/* Stylesheet for JobApplicationDatabase
Created by: Ryan Coulson
Date: August 23rd, 2018
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
	margin: 0px;
	padding: 0px;

	background: #252525;
	color: white;
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 15px;

	overflow-x: hidden;
	overflow-y: hidden;
}

.top-navigation {
	width: 100%;
	padding: 0px;

	background: #333333;
	box-shadow: 0px 2px 5px #000;

	z-index: 1;
}
.top-navigation img {
	display: inline;
	height: 50px;
	filter: brightness(1.25);
	margin: 10px;
	margin-right: 20px;
}
.top-navigation .nav-btn {
	display: inline-block;
	float: right;

	padding: 24px 40px 24px 40px;
	background: rgba(40, 40, 40, 1);
}
.top-navigation .nav-btn:hover {
	background: rgba(70, 70, 70, 1);
	cursor: pointer;
}
.top-navigation .nav-btn i {
	margin-right: 10px;
	font-size: 20px;
}
.side-container {
	display: inline-block;
	background: #222222;
	padding: 30px;
	text-align: center;
	width: 20vw;
	height: 100vh;

	box-shadow: 2px 2px 5px #000;
	z-index: 1;
}
.side-container input {
	background: rgba(21, 21, 21, .48);
	width: 100%;
	border: 0px;

	padding: 10px 20px 10px 20px;
	color: rgba(85, 85, 85, 1);
}
.side-container input:hover {
	background: rgba(40, 40, 40, 1);
	color: rgba(85, 85, 85, 1);	
}
.side-container input::placeholder {
	color: rgba(85, 85, 85, .38);
}
.side-container input:focus {
	outline: 0px;
	background: rgba(40, 40, 40, 1);
	color: rgba(85, 85, 85, 1);
}
.side-container h3 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}
.side-container h4 {
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 30px;
}
.container {
	display: inline-block;
	max-height: 85vh;
	overflow-y: auto;
}
.container::-webkit-scrollbar {
	width: 20px;
}
.container::-webkit-scrollbar-track {
	background: rgba(0,0,0,.4);
}
.container::-webkit-scrollbar-thumb {
	background: rgba(85, 85, 85,.4);
}
.container::-webkit-scrollbar-thumb:hover {
	background: rgba(60, 60, 60,.4);
}
.container textarea {
	background: rgba(0,0,0,0);
	color: white;

	border: 0px;
	resize: none;
	width: 100%;
	height: 70%;
	padding: 10px;
}
.container textarea::-webkit-scrollbar {
	width: 20px;
}
.container textarea::-webkit-scrollbar-track {
	background: rgba(0,0,0,.4);
}
.container textarea::-webkit-scrollbar-thumb {
	background: rgba(85, 85, 85,.4);
}
.container textarea::-webkit-scrollbar-thumb:hover {
	background: rgba(60, 60, 60,.4);
}
.content-container {
	padding: 30px;
}
.new-item-container {
	width: 100%;
	padding: 15px;
	background: rgba(45, 45, 45, 1);
	z-index: 0;
	display:none;
}
.new-item-container h3 {
	font-weight: 700;
	margin: 10px 5px 10px 5px;
	font-size: 18px;
	text-align: center;
}
.new-item-container input {
	background: rgba(60, 60, 60, .5);
	border: 1px solid rgba(30, 30, 30, 1);

	font-size: 14px;
	color: rgba(255,255,255,1);

	width: 80%;
	padding: 5px 10px 5px 10px;
	margin-left: 10px;
}
.form-section {
	margin: 0 auto;
}

/* upload resume */
.new-item-container .upload-btn {
	display: inline-block;
	position: relative;

	border: 1px solid rgba(30, 30, 30, 1);
	color: rgba(255, 255, 255, .5);

	width: 300px;
	margin-top: 10px;
	text-align: center;
}
.new-item-container .upload-btn:hover {
	color: rgba(255, 255, 255, .5);
}
.new-item-container .upload-btn button {
	border: 0px;
	background: rgba(0,0,0,0);
	color: white;
	margin: 0 auto;
	padding: 10px;
}
.new-item-container .upload-btn input[type="file"] {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	height:100%;
	width: 100%;
}

.new-item-container .upload-btn i {
	margin-right: 10px;
}

.new-item-container .upload-success {
	background: rgba(0, 155, 0, 1);
	color: rgba(255, 255, 255, 1);
	padding: 10px;
}
.new-item-container .upload-success:hover {
	background: rgba(0, 155, 0, 1);
	color: rgba(255, 255, 255, 1);
	padding: 10px;
	cursor:pointer;
}
.upload-btn-dim {
	filter: brightness(.5);
}


/* qs = quick search */
.qs-option {
	width: 100%;
	text-align: left;
	margin-bottom:5px;
	margin-left: -15px;
	padding: 5px 15px 5px 15px;
	cursor: pointer;
}
.qs-option:hover {
	background: rgba(50,50,50,1);
}
.qs-positon {
	font-size: 14px;
}
.qs-number {
	float:right;
	display: inline;
	color: rgba(85,85,85,1);
}

/* job stuff */
.job-header {
	font-size: 14px;
	color: rgba(85, 85, 85, 1);
	text-align: center;

	background: rgba(53, 53, 53, 0);
	padding: 5px;
	margin: 2px;
}
.job-section {
	background: rgba(53, 53, 53, .56);
	padding: 10px;
	margin: 2px;
	margin-bottom: 5px;
	font-size: 14px;
}
.job-section:hover {
	background: rgba(69,69,69, .56);
	cursor: pointer;
}
.job-center {
	text-align: center;
}
.job-complete {
	text-align: center;
	font-size: 20px;
}
.title-text {
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(80,80,80,1);
	font-size: 12px;
	margin: 10px;
}
.note-text {
	font-weight: 700;
	color: rgba(255,255,255,1);
	font-size: 16px;
	margin: 10px;
}
.custom-btn {
    padding: 10px 20px 10px 20px;
    display: inline-block;  
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform:uppercase;
    margin: 5px;
}
.custom-btn:hover {
	cursor: pointer;
}
.btn-blue {
    background-color: #9F8FFF;
}
.btn-blue:hover {
    background-color: #7f74cc;
}
.btn-red {
    background-color: #FE816D;
}
.btn-red:hover {
    background-color: #c66859;
}
.lastsaved {
	padding: 10px;
}

@media (max-width: 1600px) {
	/* if the float is going to be messed up, there's
	no point in showing it, it's only quality of life */
	.qs-number {
		display: none;
	}
}